@font-face {
  font-family: 'Some Static Font';
  src: url('../fonts/some_static_font.woff2') format('woff2'), url('../fonts/some_static_font.woff') format('woff');
}
* {
  margin: 0;
  padding: 0;
}
.content1_header {
  height: 102px;
}
.content1_banner {
  height: calc(100vh - 102px);
  width: 100%;
  background-image: url("http://i91.fastpic.ru/big/2017/0907/d7/aee2b2168424ffba61c12d293972b1d7.jpg");
  background-size: cover;
  text-align: center;
}
.content1_banner_caption {
  display: inline-block;
  font-size: 40px;
}
.content2 {
  height: calc(100vh - 102px);
  width: 100%;
  background-image: url("http://i91.fastpic.ru/big/2017/0907/d7/aee2b2168424ffba61c12d293972b1d7.jpg");
  background-size: cover;
  text-align: center;
}
