- var headTitle = 'Logo'

doctype html
html(lang='en')
	head
		title= headTitle
		meta(name='description', content=headDescription)
		link(rel='stylesheet', href='css/style.css')
		script(src='js/some_static.js')
		link(rel='icon', href='images/some_static.jpg')
	body
		div.content1
			div.content1_header
			div.content1_banner
				div.content1_banner_caption LET US MAKE YOUR LIVES EASIER
		
					
